$header-text-color: #324049;
$text-color: #898989;

$breakpoint-overmid: 1200px;
$breakpoint-mid: 1000px;
$breakpoint-overlow: 700px;
$breakpoint-low: 600px;
$breakpoint-mobile: 400px;

.navigation {
    background: linear-gradient(0deg, rgba(109, 143, 170, 1) 0%, rgba(91, 119, 143, 1) 100%);
}

.container {
    width: 60%;
    margin: 0 auto;

    @media (max-width: $breakpoint-overmid) {
        width: 80%;
    }

    @media (max-width: $breakpoint-low) {
        width: 90%;
    }

    header {
        margin: 8em;

        @media (max-width: $breakpoint-low) {
            margin: 2em;

        }

        h2 {
            text-align: center;
            color: $header-text-color;
            font-size: 32px;
        }

        p {
            width: 80%;
            margin: 2em auto;
            text-align: center;
            color: $text-color;
            font-size: 12px;

            @media (max-width: $breakpoint-low) {
                width: 100%;
            }
        }
    }

    .categories {
        ul {
            li {
                cursor: pointer;

                color: $text-color;
                width: 100%;
                padding: .5em;
                list-style: none;
                text-align: right;

                @media (max-width: $breakpoint-mid) {
                    text-align: center;
                    display: inline-block;
                    width: 20%;
                    margin-bottom: 2em;
                }

                @media (max-width: $breakpoint-low) {
                    text-align: center;
                    display: block;
                    width: 100%;
                    margin-bottom: 2em;
                }
            }
        }
    }

    .product-container {
        display: grid;
        grid-template-columns: 10% 1fr;
        margin: 0 auto;

        @media (max-width: $breakpoint-mid) {
            display: block;
        }

        .products {
            margin: 0 auto 0 5em;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2em;

            @media (max-width: $breakpoint-mid) {
                grid-template-columns: repeat(2, 1fr);
                margin: 1em;

            }

            @media (max-width: $breakpoint-low) {
                display: block;
                margin: 1em;

            }

            article {
                @media (max-width: $breakpoint-low) {
                    display: block;
                    margin-bottom: 2em;

                }

                figure {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 150px;
                        object-fit: cover;
                    }
                }

                .comments {
                    width: 20%;
                    margin: 0 auto;
                    text-align: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-content: center;
                    align-items: center;

                    p,
                    span {
                        margin: .2em;
                        color: #c0c0c0;
                    }
                }

                h3 {
                    height: 50px;
                    text-align: center;
                    margin: 1em 0;
                    font-family: 'Open Sans', sans-serif !important;
                    overflow: hidden;
                    /*The problematic part is below*/
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .teaser {
                    font-size: 12px;
                    line-height: 2em;
                    color: $text-color;
                    text-align: center;
                    width: 100%;
                    height: 120px;
                    overflow: hidden;
                    /*The problematic part is below*/
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                }

                a {
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: .5em;
                    margin-top: 1em;
                    color: $text-color;
                    text-decoration: none;
                    border: 1px solid $text-color;
                }
            }
        }
    }
}