<header class="navigation">
    <app-navigation></app-navigation>
</header>
<main class="container">
    <header>
        <h1>Kontakt os</h1>
        <p>Der er mange tilgængelige udgaver af Lorem Ipsum, men de fleste udgaver har gennemgået forandringer, når
            nogen
            har tilføjet humor eller tilfældige ord, som på ingen måde ser ægte ud</p>
    </header>

    <section class="contact-section">
        <form>
            <input type="text" name="name" id="name" placeholder="Dit navn..." />
            <input type="email" name="email" id="email" placeholder="Din email..." />
            <textarea name="message" id="message" placeholder="Din besked..."></textarea>
            <button>Send</button>
        </form>
        <article>
            <p><span>addresse:</span> Øster uttrupvej 1 9200 aalborg</p>
            <p><span>telefon:</span> +45 25 26 95 40</p>
            <figure>
                <img src="../../../assets/images/maps.jpg" alt="google maps image">
            </figure>
        </article>
    </section>
</main>
<app-footer></app-footer>